* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: 'M PLUS 1p', 'Roboto', serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 24px;
  }
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  min-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.header {
  margin: 0;
  padding-top: 65px;
  max-width: 1600px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/vertical-line.jpg);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}
.header-top {
  margin-bottom: 160px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header-top__logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  letter-spacing: 5px;
}
.header-top__logo:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #fbdc4d;
  z-index: -1;
}
.header-top__logo:hover:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 60px;
  top: 5px;
  background-color: #fbdc4d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 425px;
}
.header-top__nav-item {
  position: relative;
  padding: 0;
  margin-right: 80px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: black;
  z-index: 2;
}
.header-top__nav-item:last-child {
  margin-right: 0;
}
.header-top__nav-item:focus {
  border: 2px dotted #ea736d;
}
.header-top__nav-item:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #fbdc4d;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}
.header-top__nav-item:hover:after {
  width: 100%;
}
.header-top__icons {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  color: black;
  cursor: pointer;
}
.header-top__icons:last-child {
  margin-right: 0;
}
.icon-social-wrapper {
  display: inline-block;
}
.fa-linkedin-in:hover {
  color: #0077b5;
}
.fa-linkedin-in:active {
  color: #0077b5;
}
.fa-github:hover {
  color: #6cc644;
}
.fa-github:active {
  color: #6cc644;
}
.fa-vk:hover {
  color: #45668e;
}
.fa-vk:active {
  color: #45668e;
}
.container {
  max-width: 1140px;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}
.container-about {
  width: 50%;
  border: solid 1px ;
  z-index: 5;
}
.container-photo {
  position: relative;
  width: 50%;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 5;
}
.container-photo:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(130deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  left: 20%;
  top: 27%;
  z-index: -1;
}
.my-name__wrapper {
  margin-bottom: 25px;
}
.my-name {
  font-size: 90px;
  font-weight: 800;
  color: black;
  line-height: 0.8;
  position: relative;
  z-index: 2;
  letter-spacing: 5px;
}
.my-name:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
}
.container__text-about-me {
  width: 85%;
  margin-bottom: 35px;
}
.text-about-me {
  font-weight: 500;
  color: #393f47;
}
.text-about-me::-moz-selection {
  background-color: #fbdc4d;
}
.text-about-me::selection {
  background-color: #fbdc4d;
}
.button-meet {
  margin-right: 20px;
  display: inline-block;
  padding: 19px 43px;
  font-weight: bold;
  font-size: 22px;
  background-color: #fbdc4d;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.button-meet:hover {
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button-meet:active {
  background-color: #e1bc10;
}
.button-contacts {
  display: inline-block;
  padding: 15px 43px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 50px;
  border: solid 3px;
  background-color: #fff;
  color: #464646;
}
.button-contacts:hover {
  color: #797979;
}
.button-contacts:active {
  color: #181818;
}
.container-photo-bckgr {
  margin-top: -150px;
  z-index: 1;
}
.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}
.skills__title {
  font-weight: 900;
  line-height: 1;
  margin-bottom: 30px;
}
.skills__list {
  margin-bottom: 45px;
}
.skills__list-item {
  position: relative;
  margin-bottom: 25px;
  font-size: 24px;
}
.skills__list-item:last-child {
  margin-bottom: 0;
}
.skills__list-item:before {
  content: "---";
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
}
.skills__icon-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills__icon-social:last-child {
  margin-right: 0;
}
.skills__icon-social-wrapper {
  margin-right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */